
<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th *ngFor="let header of headers">{{header}}</th>
      <th *ngIf="buttons">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td *ngFor="let column of columns">{{ row[column] }}</td>
      <td *ngIf="buttons">
        <button class="btn-primary btn" *ngFor="let button of buttons" (click)="button.callback(row[button.column])">{{button.label}}</button>
      </td>
    </tr>
    <tr *ngIf="!data"><td colspan="7">No hay datos disponibles</td></tr>
  </tbody>
</table>
